html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap")
        title Betafit Trading
    body 
        header
            .logo
                img(src="assets/logo.svg", alt="betafit-logo")
            .header-buttons
                ul
                    li
                        a(href="#") Services
                    li
                        a(href="#") Contact
                    li
                        a(href="#") About
        main
            section.first-message
                .first-message__trading-image
                    img(src="assets/trading_image.jpg", alt="trading-image")
                .first-message__message
                    h2 Do you have an idea?
                    h2 Test and optimize it here, then go live!
            section.services
                .services__backtesting
                    h3 Backtesting
                    p Backtest your ideas here, get useful insights and understand your strategy!
                    .services__backtesting--button
                        a(href="#") Here!
                .services__optimize
                    h3 Optimize
                    p Get the better combination of parameters for your trading idea.
                    .services__optimize--button
                        a(href="#") Here!
                .services__go-live
                    h3 Go Live!
                    p You don't need to worry about implementations, we do it for you.
                    .services__go-live--buton
                        a(href="#") Here!
        footer
            section.right
                ul.right__list
                    li
                        a(href="#") Investors
                    li
                        a(href="#") How it works
                    li
                        a(href="#") Signals
            section.social 
                h2 Social Media
                .social__icons
                    img(src="assets/facebook.svg", alt="facebook")
                    img(src="assets/twitter.svg", alt="twitter")
                    img(src="assets/github.svg", alt="github")
            section.left
                ul.left__list
                    li
                        a(href="#") Contact
                    li
                        a(href="#") About
